* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    
}

.container {
    background-image: linear-gradient(to left, #1900ff67 , #0c31d3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

#password{
    color: #000000;
    text-align: center;
}

.length{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

#length{
    text-align: center;
}

input,
button {
    padding: 10px 0 10px 0 ;
    width: 100%;
    margin: 15px 0;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}
input{
    color: #000000;
}

button{
    background-color: #030331bd;
    color: #ffffff;
}


.checkbox-group {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #ffffff;
}
